<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="/admin/admin-layout">
<head>
<meta charset="UTF-8">
<title>Dashboard</title>
</head>
<body class="dashboard">
	<div layout:fragment="content" class="content-wrapper">
	<div class="page animsition">
    <div class="page-header">
      <h1 class="page-title" th:text="#{role_layout}">Form Layouts</h1>
      <ol class="breadcrumb">
        <li><a th:href="@{/admin}" th:text="#{home}">Home</a></li>
        <li><a href="javascript:void(0)" th:text="#{role_layout}">Role Form</a></li>
        <li class="active" th:text="#{layout}">Layouts</li>
      </ol>
	<div class="page-content">
      <div class="panel">
	  	<div class="panel-body container">
          <div class="row row-lg">

            <div class="col-sm-12">
              <!-- Example Basic Form Without Label -->
              <div class="example-wrap">
                <h4 class="example-title" th:text="#{role_layout}">Basic Form</h4>
                <div class="example">
                  <form autocomplete="off">
                    <div class="form-group row">
                      <div class="col-sm-6">
                        <label class="control-label" for="inputBasicFirstName" th:text="#{first_name}">First Name</label>
                        <input type="text" class="form-control" id="inputBasicFirstName" name="inputFirstName"
                        th:placeholder="#{first_name}" autocomplete="off" />
                      </div>
                      <div class="col-sm-6">
                        <label class="control-label" for="inputBasicLastName" th:text="#{last_name}">Last Name</label>
                        <input type="text" class="form-control" id="inputBasicLastName" name="inputLastName"
                        th:placeholder="#{last_name}" autocomplete="off" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label" th:text="#{gender}">Gender</label>
                      <div>
                        <div class="radio-custom radio-default radio-inline">
                          <input type="radio" id="inputBasicMale" name="inputGender" />
                          <label for="inputBasicMale" th:text="#{male}">Male</label>
                        </div>
                        <div class="radio-custom radio-default radio-inline">
                          <input type="radio" id="inputBasicFemale" name="inputGender" checked />
                          <label for="inputBasicFemale" th:text="#{female}">Female</label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label" for="inputBasicEmail" th:text="#{email_address}">Email Address</label>
                      <input type="email" class="form-control" id="inputBasicEmail" name="inputEmail"
                      th:placeholder="#{email_address}" autocomplete="off" />
                    </div>
                    <div class="form-group">
                      <label class="control-label" for="inputBasicPassword" th:text="#{password}">Password</label>
                      <input type="password" class="form-control" id="inputBasicPassword" name="inputPassword"
                      th:placeholder="#{password}" autocomplete="off" />
                    </div>
                    <div class="form-group">
                      <div class="checkbox-custom checkbox-default">
                        <input type="checkbox" id="inputBasicRemember" name="inputCheckbox" checked autocomplete="off"
                        />
                        <label for="inputBasicRemember" th:text="#{remember_me}">Remember Me</label>
                      </div>
                    </div>
                    <div class="form-group">
                      <button type="button" class="btn btn-primary" th:text="#{sign_up}">Sign Up</button>
                    </div>
                  </form>
                </div>
              </div>
              <!-- End Example Basic Form Without Label -->
            </div>
        </div>
        </div>
      </div>
      </div>
     </div>
      </div>
    </div>
	

</body>
</html>