<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
	<h1>User Role</h1>
	<form th:action="@{/user-list}" th:object="${USER}" method="post">
		<fieldset>
			<legend>User Role</legend>
			<table>
				<tr>
					<td><label th:text="#{user.id}"></label></td>
					<td><input type="text" th:field="*{id}" placeholder="User ID"/>td>
				</tr>
				<tr>
					<td><label th:text="#{user.name}"></label></td>
					<td><input type="text" th:field="*{name}" placeholder="User Name"/></td>
				</tr>
				<tr>
					<td><label th:text="#{user.gender}"></label></td>
					<td>
						<select th:field="*{gender}">
							<option value="Male">Male</option>
							<option value="Female">Female</option>
						</select>
					</td>
				</tr>
				<tr>
					<td><label th:text="#{user.pob}"></label></td>
					<td><input type="text" th:field="*{pob}" placeholder="Place of Birth"/></td>
				</tr>
			</table>
		</fieldset>
	</form>
</body>	
</html>