<link rel="apple-touch-icon" href="/resources/assets/images/apple-touch-icon.png">
  <link rel="shortcut icon" href="/resources/assets/images/favicon.ico">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="/resources/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/resources/assets/css/bootstrap-extend.min.css">
  <link rel="stylesheet" href="/resources/assets/css/site.min.css">

  <link rel="stylesheet" href="/resources/assets/vendor/animsition/animsition.css">
  <link rel="stylesheet" href="/resources/assets/vendor/asscrollable/asScrollable.css">
  <link rel="stylesheet" href="/resources/assets/vendor/switchery/switchery.css">
  <link rel="stylesheet" href="/resources/assets/vendor/intro-js/introjs.css">
  <link rel="stylesheet" href="/resources/assets/vendor/slidepanel/slidePanel.css">
  <link rel="stylesheet" href="/resources/assets/vendor/flag-icon-css/flag-icon.css">

  <!-- Plugin -->
  <link rel="stylesheet" href="/resources/assets/vendor/chartist-js/chartist.css">
  <link rel="stylesheet" href="/resources/assets/vendor/jvectormap/jquery-jvectormap.css">
  <link rel="stylesheet" href="/resources/assets/css/../fonts/weather-icons/weather-icons.css">
  <link rel="stylesheet" href="/resources/assets/css/dashboard/v1.css">

  <!-- Fonts -->
  <link rel="stylesheet" href="/resources/assets/fonts/web-icons/web-icons.min.css">
  <link rel="stylesheet" href="/resources/assets/fonts/brand-icons/brand-icons.min.css">
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>
  
  <!-- Scripts -->
  <script src="/resources/assets/vendor/modernizr/modernizr.js"></script>
  <script src="/resources/assets/vendor/breakpoints/breakpoints.js"></script>
  <script>
    Breakpoints();
  </script>